@import url("/css/reset.css");
@import url("base-styles.css");
@import url("/css/style.css");


/* presets starts */

.sub-header {
    font-size: var(--font-subheader);
    color: var(--txt-color-dark);
    font-weight: 600;
    text-transform: uppercase;
}

input,
button {
    letter-spacing: 1px;

}

input:not(input[type="file"]),
textarea {
    border: 1px solid var(--light-grey);
    outline: none;
    background-color: var(--light-grey);
    padding: 15px 20px;
    border-radius: 7px;
    transition: 200ms ease-in;
}

#age { 
    appearance: none;
}

input::placeholder,
textarea::placeholder {
    letter-spacing: 1px;
    color: var(--txt-color-dark);
    text-transform: uppercase;
    font-size: calc(var(--font-med) );

}

input:not(input[type="file"]):invalid,
textarea:invalid {}

button {
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 7px;
    background-color: var(--txt-color-dark);
    color: white;
    text-transform: uppercase;
}

button:active,
button:focus {
    background-color: var(--txt-color-darker);
}

/* presets ends */

main {
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .1);
}

main form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 80vw;
    max-width: 1000px;
}


main form header.form-header {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

header.form-header h1 {
    font-size: var(--font-title);
    font-family: var(--font-raleway);

}

header.form-header p {
    font-size: var(--font-med);
}

header span {
    font-size: var(--font-xl);
    color: #F76CAD;
}



/* input field wrapped using grid */
main form .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1.25fr;
    grid-template-areas:
        "sub-header-1 sub-header-1 sub-header-2"
        "fullname nickname input-image"
        "age role input-image"
        "email email input-image"
        "textarea textarea input-image"
        "textarea textarea input-image"
        "textarea textarea submit";
    gap: 20px;
    place-items: start;
    justify-items: stretch;

}

.item-1 {
    grid-area: sub-header-1;
}

.item-2 {
    grid-area: sub-header-2;

}

.item-3 {
    grid-area: fullname;
}

.item-4 {
    grid-area: nickname;
}

.item-5 {
    grid-area: age;
}

.item-6 {
    grid-area: role;
}

.item-7 {
    grid-area: email;
}

.item-8 {
    grid-area: input-image;
    align-self: stretch;
}

.item-9 {
    grid-area: textarea;
    align-self: stretch;
    resize: none;
}

.item-10 {
    grid-area: submit;
}

/* .item-2 {
    grid-column: 3 / 4;
}

.item-5 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.item-6 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.item-7 {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}

.item-8 {
    grid-row: 5 / 8;
    grid-column: 1 / 3;
    align-self: stretch;
}

.item-9 {
    grid-row: 2 / 7;
    grid-column: 3 / 4;
    align-self: stretch;
    resize: none;
}

.item-10 {
    grid-row: 7 / 8;
    grid-column: 3 / 4;

} */

/* ends */


.form-content input[type="email"] {
    text-transform: none;
}

.form-content .input-image {
    border: 1px solid black;
    /* height: 150px; */

}

.form-content .item-8 {
    border: 1px solid var(--darker-grey);
    border-radius: 7px;
    font-size: calc(var(--font-med) + 2px);
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.form-content .item-9 {
    font-size: var(--font-med);
    letter-spacing: 1px;
    text-transform: none;
    height: 150px;
    line-height: 1.2rem;
    text-align: justify;

}


.form-content .item-9::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}